doctype transitional
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Payment Confirmation
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap' rel='stylesheet')
table(bgcolor='#eaeced' cellpadding='0' cellspacing='0' width='100%' style="background-color: #ededed; font-family: 'Nunito', sans-serif;")
  tr
    td
      table(align='center' bgcolor='#ffffff' cellpadding='20' cellspacing='0' width='600' style='border-collapse: collapse; background-color: #ffffff;')
        tr(style='border-top: 4px solid #7e1414;')
          td(align='left')
            table(width='100%')
              tr
                td
                  div(style='display:flex;justify-content:center;')
                   img(style='width: 200px;' src=company_logo width='220px' alt=company_name)
                  div(style='text-align:center;')
                   h1
                    | Payment Confirmation
        tr(style='border-top: 1px solid #eaeaea;')
          td(align='center' style="padding: 5px; color: #7e1414;")
            div
             p=date  
             h2
              span=currency 
              span 
                |
              span=amount
             h3
              | Your payment for order 
              span=order_number
              span 
               | has been received
        tr(style='border-top: 1px solid #eaeaea;')
          td
           table(align='center')
            tr
             td
              strong
               | Payment Method:
             td
               span=transaction.payment_method
            tr
             td
              strong
               | Confirmation No:
             td
               span=transaction.confirmation_code            
            
        tr(style='border-top: 1px solid #eaeaea;')
          td(align='center')
            div
              strong
               p
                | Regards,
                br
                span=company_name
