doctype strict
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  title Email Template for Order Confirmation Email
  // Start Common CSS
  style(type='text/css').
    #outlook a {padding:0;}
    body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; font-family: Helvetica, arial, sans-serif;}
    .ExternalClass {width:100%;}
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
    .backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
    .main-temp table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; font-family: Helvetica, arial, sans-serif;}
    .main-temp table td {border-collapse: collapse;}
  // End Common CSS
table.backgroundTable.main-temp(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color: #d5d5d5;')
  tbody
    tr
      td
        table.devicewidth(width='600' align='center' cellpadding='15' cellspacing='0' border='0' style='background-color: #ffffff;')
          tbody
            // Start header Section
            tr
              td(style='padding-top: 30px;')
                table.devicewidthinner(width='560' align='center' cellpadding='0' cellspacing='0' border='0' style='border-bottom: 1px solid #eeeeee; text-align: center;')
                  tbody
                    tr
                      td(style='padding-bottom: 10px;')
                        img(src=logo alt=company_name)
                    tr
                      td(style='font-size: 14px; line-height: 18px; color: #666666;')
                        span=company_address
                    tr
                      td(style='font-size: 14px; line-height: 18px; color: #666666;')
                        strong Phone:
                          span=company_phone 
                        strong  | Email: 
                          span=company_email
                    tr
                      td(style='font-size: 14px; line-height: 18px; color: #666666;')
                        strong Order Number: #
                          span=order_number
                        strong Order Date:
                          span=created_at
                    tr
                      td(style='font-size: 14px; line-height: 18px; color: #666666; border-top: 2px solid #ededed; margin-top: 25px;')
                        span
                          strong Customer
                    tr
                      td(style='font-size: 14px; line-height: 18px; color: #666666;')
                        span Name:
                        span=customer.first_name 
                        span=customer.last_name 
                    tr
                      td(style='font-size: 14px; line-height: 18px; color: #666666;')
                        span | Email: 
                        span=customer.email
                        span | Phone Number: 
                        span=customer.phone_number
                    tr
                      td(style='font-size: 14px; line-height: 18px; color: #666666;')
                        span=address.address_line_1
                        span(style='margin-right: 2px;') ,
                        span=address.city_town
                        span(style='margin-right: 2px;') ,
                        span=address.county_state
                        span(style='margin-right: 2px;') ,
                        span=address.country
            // End header Section
            // Start product Section
            each item, key in items
              tr
                td(style='padding-top: 0;')
                  table.devicewidthinner(width='560' align='center' cellpadding='0' cellspacing='0' border='0' style='border-bottom: 1px solid #eeeeee;')
                    tbody
                      tr
                        td(rowspan='4' style='padding-right: 10px; padding-bottom: 10px;')
                          img(style='height: 80px;' src=item.image alt=item.name)
                        td(colspan='2' style='font-size: 14px; font-weight: bold; color: #666666; padding-bottom: 5px;')
                          span=item.name
                      tr
                        td(style='font-size: 14px; line-height: 18px; color: #757575; width: 440px;')
                          | Quantity: 
                          span=item.quantity
                        td(style='width: 130px;')
                      tr
                        td(style='font-size: 14px; line-height: 18px; color: #757575;')
                          | Color:
                          span=item.colour
                        td(style='font-size: 14px; line-height: 18px; color: #757575; text-align: right;')
                          span KSH
                          span=item.price
                          span(style='margin-right: 2px;') Per Unit
                      tr
                        td(style='font-size: 14px; line-height: 18px; color: #757575; padding-bottom: 10px;')
                          if item.size 
                              span Size:
                              span=item.size
                        td(style='font-size: 14px; line-height: 18px; color: #757575; text-align: right; padding-bottom: 10px;')
                          b(style='color: #666666;')
                            span KSH
                            span=item.quantity * item.price
                          |  Total
              // End product Section
            // Start calculation Section
            tr
              td(style='padding-top: 0;')
                table.devicewidthinner(width='560' align='center' cellpadding='0' cellspacing='0' border='0' style='border-bottom: 1px solid #bbbbbb; margin-top: -5px;')
                  tbody
                    tr
                      td(rowspan='5' style='width: 55%;')
                      td(style='font-size: 14px; line-height: 18px; color: #666666;')
                        | Sub-Total:
                      td(style='font-size: 14px; line-height: 18px; color: #666666; width: 130px; text-align: right;')
                        span KSH 
                        span=total
                    each charge, key in extra_charges
                      tr
                          td(style='font-size: 14px; line-height: 18px; color: #666666; padding-bottom: 10px; border-bottom: 1px solid #eeeeee;')
                            span=charge.name
                          td(style='font-size: 14px; line-height: 18px; color: #666666; padding-bottom: 10px; border-bottom: 1px solid #eeeeee; text-align: right;')
                            span KSH
                            span=charge.amount
                    tr
                      td(style='font-size: 14px; font-weight: bold; line-height: 18px; color: #666666; padding-top: 10px;')
                        | Order Total
                      td(style='font-size: 14px; font-weight: bold; line-height: 18px; color: #666666; padding-top: 10px; text-align: right;')
                        span KSH 
                        span=(extra_charges.map( charge => charge.amount).reduce( (a,c) => a + c,  0) + total)
            // End calculation Section