
<div style="text-align:center;margin:20px auto;width:650px;font-family:"Nunito Sans",sans-serif;background-color:#e2e2e2;display:block;position:relative">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color: #fff; width: 100%  border-collapse: collapse; border-spacing: 0;">
        <tbody>
        <tr>
            <td class="section-t" style="position: relative; padding: 0 calc(15px + (88 - 15) * ((100vw - 320px) / (1920 - 320)))">
            <table style="width: 100%">
                <tr>
                <td>
                    <h1 class="heading-1" style="margin-bottom: 6px">Hi {{ name }} And Welcome {{ app }}!</h1>
                    <p class="pera">
                        We're delighted to have you on board, and we can't wait to embark on this exciting journey together. 
                        Your acocunt is almost ready. The final step is to verify your email address. Click the link below to proceed to verify,
                    </p>
                </td>
                </tr>
            </table>
            </td>
        </tr>

        <tr>
            <td class="section-t" style="margin-top: calc(25px + (32 - 25) * ((100vw - 320px) / (1920 - 320)));display: block;">
            <a href="{{ url }}" class="button-solid" style="font-weight: bold; font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));line-height: calc(22px + (27 - 22) * ((100vw - 320px) / (1920 - 320)));display: inline-block;color: #ffffff;background: #ff4c3b;border-radius: 6px;padding: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320))) calc(24px + (43 - 24) * ((100vw - 320px) / (1920 - 320)));">Verify Email</a>
            </td>
        </tr>

        <tr>
            <td class="section-t" style="padding: 0 calc(15px + (46 - 15) * ((100vw - 320px) / (1920 - 320)))">
            <p class="pera" style="font-weight:600;font-size:14px;line-height:calc(21px + (23 - 21) * ((100vw - 320px) / (1920 - 320)));text-align:center;color:#939393;margin-bottom:-4px">
                If you have any question, please email us at <a href="mailto:{{ contact }}" style="font-weight:700;text-decoration-line:underline;color:#ff4c3b">{{ contact }}</a>
            </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
